* {
    margin: 0;
    padding: 0;
}
.grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60px 750px 3000px 60px;
    grid-template-areas: 
    "header"
    "picture"
    "content" 
    "footer";
}

.header {
    grid-area: header;
    background-color: blue;
}

.content {
    grid-area: content;
    text-align: center;
    background-color: #111111;
}

.footer {
    grid-area: footer;
    background-color: red;
}
.picture {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0a0a0c;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity .4s ease;
}
img {
    min-height: 750px;
    max-width: 1519px;
    background-color: #0a0a0c;
    background-size: cover;  
}

.yellow {
    color: #c8aa6e;
}
.white {
    color: white;
}
p{
    color: #FFFFDF;
    margin-left: 400px;
    margin-right: 400px;
    font-size: 21px;
    text-align: left;
}