.text {
    color: aliceblue;
}
h1 {
    background-color: #343434;
}
img {
    max-width: 200;
    max-height: 200;
    min-width: 200;
    min-width: 200;
}
body {
    background-color: #222;
}

p.ChangeTekstButton{
    background-color: red;
}